@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Litterbox';
    src: url(/fonts/Litterbox\ ICG\ Regular/) format('truetype');
    font-weight: normal;
    font-style: normal;
}

