@font-face {
    font-family: NunitoRegular;
    src: url(../fonts/Nunito-Regular.ttf);
}

@font-face{
    font-family: NunitoExtraBold;
    src: url(../fonts/Nunito-ExtraBold.ttf);
}


*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

html,
body{
    font-family: Nunito-Regular, sans-serif;
    scroll-behavior: smooth;
    background-image: url("myphotos/20220612_151152.jpg")
}

#logo:hover{
    text-decoration: underline;
}