*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

html,
body{
    scroll-behavior: smooth;
    background-image: url("myphotos/20220612_151152.jpg")
}


#naam{
    padding-left: 50px;
    cursor: pointer;
}

.mijncv{
    cursor: pointer;
}

#logo {
    
    white-space: nowrap;
    transition: border-color 0.66s ease-out, font-size 0.3s ease-out;
}

#logo:hover {
    font-size: 14pt;
    cursor: pointer;
    transition: border-color 0s, font-size 0.3s ease-out;
}

#logo2:hover{
    font-size: 40px;
    transition: border-color 0s, font-size 0.3s ease-out;
}

#contactme{
    margin-left: 700px;
    bottom: 0px;
    display: flex;
    gap: 10px;
}
#myinfo{
    display: block;
    background-color: white;
    z-index: 1;
    width: 500px;
    height: 200px;
    margin-top: 200px;
    margin-left: 40px;
    opacity: 0.80;
    padding: 5px;
    border-radius: 10px; 
    border: 3px solid lightblue;
}

li{
    display: flex;
}

.coolfooter{
    width: 100%;
    opacity: 0.80;
    bottom: 0;
    padding: 20px;
    height: 120px;
    padding-bottom: 5px !important;
}

#img:hover{
    font-size: 20px;
    transition: border-color 0s, font-size 0.3s ease-out !important;
}

#myface{
    position: relative;
    left: 1100px;
    bottom: 250px;
}


#mijnprojecten{
    display: block;
    margin: auto;
    width: 100px;
    position: absolute;
    margin-top: 50px;
    margin-left: 300px;
    bottom: 50px;
}

#social-logos:hover{
    cursor: pointer;
}